body {
    /*background-color: darkcyan; */
    background-image: url(../images/connectwork/connectwork.png);
    color: white;
    font-size: large;
}

h1 {
    color: turquoise;
    text-align: center;
    font-style: inherit;
    font-size: 50px;
}

.first-pic {
    height: 150px;
    margin-left: 50px;
}

.second-pic {
    height: 150px;
    margin-left: 925px;
    float: right
}

.words {
    background-color: darkcyan;
    text-align: center;
    width: 50%;
    margin-left: 375px;
    font-size: 30px;
    border-style: dashed;
    border-color: aqua;
}